---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---
<section id="about">
  <h1>I'm Joel</h1>
  <p>I write code and live in the desert.</p>
  {% include "pixelCactusAnim.njk" %}
</section>

<section id="projects">
  <h1>Projects</h1>
  <div class="projects-section">
    
    <ul class="project-links">
      <p>Python</p>
      <li><a href="https://github.com/joelzehring/pythonrandomkidpicker">Random Kid Picker</a></li>
      <li><a href="https://github.com/joelzehring/pythonbiblememory">Bible Memory Game</a></li>
    </ul>
    
    <ul class="project-links">
      <p>Web</p>
      <li><a href="https://biblememorygame.netlify.com">Bible Memory Game</a></li>
    </ul>
  </div>
  {% include "pixelBlueAnim.njk" %}
</section>

<section id="contact">
  <h1>Contact</h1>
  <ul class="contacts-links">
    <li><a href="https://www.linkedin.com/in/joel-zehring/">LinkedIn</a></li>
    <li><a href="https://github.com/joelzehring">Github</a></li>
    <li><a href="https://www.meetup.com/members/284855266/">Meetup</a></li>
  </ul>
  {% include "pixelPinkAnim.njk" %}
</section>
