<!-- pixelBlueAnim -->
<div class="containerBlueAnim anim">
    <div class="pixelBlueAnim" id="pixelBlueAnima1"></div>
    <div class="pixelBlueAnim" id="pixelBlueAnima2"></div>
    <div class="pixelBlueAnim" id="pixelBlueAnima3"></div>
    <div class="pixelBlueAnim" id="pixelBlueAnimb1"></div>
    <div class="pixelBlueAnim" id="pixelBlueAnimb2"></div>
    <div class="pixelBlueAnim" id="pixelBlueAnimb3"></div>
    <div class="pixelBlueAnim" id="pixelBlueAnimc1"></div>
    <div class="pixelBlueAnim" id="pixelBlueAnimc2"></div>
    <div class="pixelBlueAnim" id="pixelBlueAnimc3"></div>
</div>
<!-- end pixelBlueAnim -->