<div class="containerPinkAnim anim">
    <div class="pixelPinkAnim" id="pixelPinkAnima1"></div>
    <div class="pixelPinkAnim" id="pixelPinkAnima2"></div>
    <div class="pixelPinkAnim" id="pixelPinkAnima3"></div>
    <div class="pixelPinkAnim" id="pixelPinkAnimb1"></div>
    <div class="pixelPinkAnim" id="pixelPinkAnimb2"></div>
    <div class="pixelPinkAnim" id="pixelPinkAnimb3"></div>
    <div class="pixelPinkAnim" id="pixelPinkAnimc1"></div>
    <div class="pixelPinkAnim" id="pixelPinkAnimc2"></div>
    <div class="pixelPinkAnim" id="pixelPinkAnimc3"></div>
</div> <!-- pixelPinkAnim -->